.DS_Store
.editorconfig
.env.development.local
.env.local
.env.production.local
.env.test.local
.esm-cache
.history
.idea
.vscode
*.log
*.tgz
coverage
dist
docs-dist
examples/*/gitignore
examples/*/yarn.lock
node_modules
npm-debug.log*
package-lock.json
browser.api.js
node.api.js
yarn.lock
tmp
yarn-debug.log*
yarn-error.log*
